.dgrid_Common {
    font-family: var(--vscode-font-family);
}

.dgrid_Common table {
    font-size: var(--vscode-font-size);
}

.dgrid_Common .dgrid-grid {
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}

.dgrid_Common .dgrid-row-table {
    height: unset;
}

.dgrid_Common .dgrid-header-row {
    background-color: var(--vscode-editor-background);
}

.dgrid_Common .dgrid-header-row:focus {
    outline-width: 0px;
}

.dgrid_Common .dgrid-header.dgrid-header-scroll {
    background-color: var(--vscode-editor-background);
}

.dgrid_Common .dgrid-cell {
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}

.dgrid_Common .dgrid-selected {
    color: var(--vscode-menu-selectionForeground);
    background-color: var(--vscode-menu-selectionBackground);
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}

.dgrid_Common .dgrid-focus:focus {
    outline-width: 0px;
}

.dgrid_Common .dgrid-fakeline {
    border: 0px;
    margin: 2px;
}