/.eclcc
/coverage
/dist*
/ecl-sample/.vscode/settings.json
/ecl-sample/public_records
/grammar
/images
/lib*
/node_modules
/tests
/tmp
/types
tmp*.*
.vscode-test
.vscode-dev-extensions
test-results.xml
*.vsix
*.log
*.interp
*.tokens
ecl-sample/.vscode/launch-secure.json
