/.eclcc
/dist*
/ecl-sample/.vscode/settings.json
/grammar/ecl/.*
/grammar/kel/.*
/grammar/kel/*.g4
/grammar/salt/.*
/grammar/salt/*.g4
/grammar/*.jar
/images
/lib*
/node_modules
/tests
/tmp
/types
tmp*.*
.vscode-test
*.vsix
*.log
*.interp
*.tokens