# Ignore everything
*
*/**

# Whitelist required files
!dist/**/*
!resources/**/*
!snippets/**/*
!syntaxes/**/*

!.vscodeignore
!CHANGELOG.md
!ecl.configuration.json
!kel.configuration.json
!LICENSE
!package.json
!README.md
