# Ignore everything
*
*/**

# Whitelist required files
!dist*/**/*
!resources/**/*
!snippets/**/*
!syntaxes/**/*
!ecl-tmLanguage/**/*

!.vscodeignore
!CHANGELOG.md
!ecl.configuration.json
!kel.configuration.json
!LICENSE
!package.json
!package.*.json
!README.md
